<%= t '.title' %>

<div>
  <H1><%= t '.author'%>: <%= @photo.user.name %></H1>
  <H4><%= t '.photo'%></H4> <%= link_to image_tag(@photo.photo.thumb.url), event_url(@event) %>
  <H4><%= t '.event'%>: <%= @event.title %></H4>
</div>
