<%= t '.title' %>

<div>
  <H1><%= t '.author'%>: <%= @photo.user.name %></H1>
  <H4><%= t '.photo' %></H4> <%= image_tag root_url + @photo.photo.url %>
  <H4><%= t '.event'%>: <%= @event.title %></H4>
</div>